# These requirements are for DEVELOPMENT ONLY!
# You do not need e.g. Sphinx or Fudge just to run the 'fab' tool on your own
# fabfiles. These are only necessary for executing the test suite.

nose >= 1.0, <= 1.1
rudolf >= 0.3, < 0.4
Fudge >= 1.0, < 1.1
Sphinx >= 1.0, < 1.1
